$btnRoundSize: 80px;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  &.round {
    border-radius: 50%;
    width: $btnRoundSize;
    height: $btnRoundSize;
  }
}

.wrap {
  width: 375px;
  border: 1px solid;
  padding: 100px 5px 0 5px;
  background-color: #000000;
  .screen {
    font-size: 70px;
    color: #fff;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 30px;
    line-height: 80px;
    min-height: 80px;
  }
  .keybord {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 15px;
      .btn-sign {
        background-color: #a5a5a5;
        &:active {
          background-color: #e9e5e5;
        }
      }
      .btn-operator {
        background-color: #fd9300;
        color: #fff;
        &:active {
          background-color: #facb91;
        }
      }
      .btn-number {
        @extend .btn-operator;
        background-color: #353535;
        &:active {
          background-color: #898888;
        }
      }
      .btn-number-zero {
        width: 170px;
        height: $btnRoundSize;
        border-radius: 45px;
        text-align: left;
        padding-left: 30px;
      }
    }
  }
}
